<ul class="nav nav-tabs">
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients/search']"> <i class="material-icons">search</i> Buscar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients/promises']"> <i class="material-icons">attach_money</i> Promesas de pago</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients/blacklist']"> <i class="material-icons">list</i> Lista Negra</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients/detail']"> <i class="material-icons">open_in_new</i>Detalles</a>
      </li>
     
    <li class="nav-item ml-auto" *ngIf="is_detail === true">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients/add']"> <i class="material-icons">add</i></a>
      </li>    
  </ul>