<app-config-menu></app-config-menu>

<div class="pt-3 bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <form [formGroup]="addCategoryForm" (ngSubmit)="saveCategory()">
            <div class="card-body">
              <div class="row m-0 p-0">
                <div class="col-12">
                  <p><b>Agregar categoria de cliente</b></p>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                  </div>
                </div>
                <div class="col-12">
                  <a class="btn btn-danger float-right" routerLinkActive="active" [routerLink]="['/config/clients']"><i class="material-icons">close</i></a>
                  <button type="submit" class="btn btn-primary float-right text-white mr-2"><i class="material-icons">check</i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>