<app-config-menu></app-config-menu>

<div class="pt-3 bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="addUserForm" (ngSubmit)="saveUser()" >
            <div class="row m-0 p-0">
              <div class="col-12">
                <p><b>Agregar Usuario</b></p>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input [ngClass]="{'is-invalid': nameValid()}" type="text" class="form-control" placeholder="*Nombre" formControlName="name">
                  <span [ngClass]="{'invalid-feedback': nameValid()}" *ngIf="nameValid()">Nombre es requerido</span>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Apellidos" formControlName="lastnames">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input [ngClass]="{'is-invalid': usernameValid()}" type="text" class="form-control" placeholder="*Nombre de usuario" formControlName="username">
                  <span [ngClass]="{'invalid-feedback': usernameValid()}" *ngIf="!addUserForm.get('username').valid && addUserForm.get('username').touched">Nombre de usuario es requerido</span>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input [ngClass]="{'is-invalid': emailValid()}" type="text" class="form-control" placeholder="*Correo electronico" formControlName="email">
                  <span [ngClass]="{'invalid-feedback': emailValid()}" *ngIf="!addUserForm.get('email').valid && addUserForm.get('email').touched">Email es requerido</span>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <select [ngClass]="{'is-invalid': roleValid()}" class="form-control" formControlName="role">
                    <option selected [ngValue]="0" >*Rol</option>
                    <option *ngFor="let r of roles" [ngValue]="r.id">
                      {{r.name}}
                    </option>
                  </select>
                  <span [ngClass]="{'invalid-feedback': roleValid()}" *ngIf="!addUserForm.get('role').valid && addUserForm.get('role').touched">Rol es requerido</span>
                </div>
              </div>

              <div class="col-12">
                <a class="btn btn-danger float-right" [routerLink]="['/config/users']"><i class="material-icons">close</i></a>
                <button type="submit"  class="btn btn-primary float-right text-white mr-2"><i class="material-icons">check</i></button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>