<app-config-menu></app-config-menu>

<div class="pt-3 bg-light">
  <div class="container-fluid ">

    <div class="row">
      <div class="col-6 mt-2 mb-2">
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Escriba para buscar">
          </div>
          <div class="col-6">
            <a class="btn btn-primary float-right" routerLinkActive="active" [routerLink]="['add']"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="'force'" [rows]="banks">

                <ngx-datatable-column name="Id" prop="id" editable="false" frozenLeft="True"></ngx-datatable-column>
                <ngx-datatable-column name="Nombre" prop="name" editable="false" resizable="True"></ngx-datatable-column>
                <ngx-datatable-column name="" prop="id">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" frozenRigth="True" let-value="value" let-row="row" let-group="group"
                    let-rowHeight="rowHeight">
                    <a class="btn btn-sm btn-primary text-white mr-2" (click)="editBank($event, value)"><i class="material-icons">edit</i></a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>