<app-config-menu></app-config-menu>
<div class="pt-3 bg-light">
  <div class="container-fluid">

    <div class="row">
      <div class="col-8 pt-2 pb-2">
        <div class="row">
          <div class="col-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Escriba para buscar.." aria-label="Buscar cartera" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="material-icons">search</i></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <a class="btn btn-primary float-right" routerLinkActive="active" [routerLink]="['/config/portfolios/add']"><i
                class="material-icons">add</i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="row">
            <div class="col-md-12">

              <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="'force'" [rows]="categories"
                [columns]="portfolio_columns">

                <ngx-datatable-column width="10" name="Id" prop="id" editable="false" frozenLeft="True"></ngx-datatable-column>
                <ngx-datatable-column name="Nombre" prop="name" editable="false" resizable="True"></ngx-datatable-column>
                <ngx-datatable-column name="Code" prop="code" editable="false" resizable="True"></ngx-datatable-column>
                <ngx-datatable-column name="" prop="id">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" frozenRigth="True" let-value="value" let-row="row" let-group="group"
                    let-rowHeight="rowHeight">
                    <a class="btn btn-sm btn-primary text-white mr-2" (click)="editCategory($event, value)"><i class="material-icons">edit</i></a>

                    <a class="btn btn-sm btn-primary text-white mr-2" (click)="editCategory($event, value)"><i class="material-icons">keyboard_arrow_right</i></a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>