<app-clients-menu [is_detail]="detail"></app-clients-menu>

<div class="pt-3 bg-light">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="row m-0 p-0">
          <div class="col-4">
            <input type="text" class="form-control" placeholder="Escribe para buscar.." aria-label="Buscar cliente">
          </div>
          <div class="col-3">
            <div class="select-wrapper">
              <select class="">
                <option>En cartera</option>
                <option>Parturient</option>
                <option>Euismod</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="btn-group float-right text-white" role="group" aria-label="Basic example">
              <a class="btn btn-primary" (click)="searchClients()"><i class="material-icons">search</i></a>
              <a class="btn btn-primary" [routerLink]="['/clients/add']"><i class="material-icons">add</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">

                <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="'standard'" [rows]="clients" [columns]="columns">

                  <ngx-datatable-column name="Id" prop="id" editable="false" frozenLeft="True" width="100"></ngx-datatable-column>
                  <ngx-datatable-column name="Name" prop="name" editable="false" resizable="True" width="300"></ngx-datatable-column>
                  <ngx-datatable-column name="Email" prop="email" editable="false" resizable="True" width="200"></ngx-datatable-column>
                  <ngx-datatable-column name="fact" prop="fact" editable="false" resizable="True"></ngx-datatable-column>
                  <ngx-datatable-column name="" prop="id">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" frozenRigth="True" let-value="value" let-row="row" let-group="group"
                      let-rowHeight="rowHeight">
                      <a class="btn btn-sm btn-primary text-white mr-2" (click)="editClient($event, value)"><i class="material-icons">edit</i></a>
                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>