<ul class="nav nav-tabs">
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/portfolios/search']"> <i class="material-icons">search</i> Buscar</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/portfolios/summary']"> <i class="material-icons">bar_chart</i>Resumen</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/portfolios/add']"> <i class="material-icons">add</i> Agregar</a>
    </li>
    <!-- <li class="nav-item ml-auto">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/portfolios/add']"> <i class="material-icons">add</i></a>
      </li>     -->
  </ul>