<ul class="nav nav-tabs">
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/users']"> <i class="material-icons">perm_identity</i> Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/roles']"> <i class="material-icons">payment</i> Roles</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/banks']"> <i class="material-icons">attach_money</i> Bancos</a>
      </li>    
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/portfolios']"> <i class="material-icons">folder_shared</i> Cat. Carteras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/clients']"> <i class="material-icons">account_box</i> Cat. Clientes</a>
      </li>    
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/data']"> <i class="material-icons">list</i> Información</a>
        </li>      
  </ul>