<nav class="navbar fixed-top  navbar-expand-xl navbar-dark bg-primary">
  <a class="navbar-brand" href="#" style="">CrediTrack</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample06">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLink]="['/tasks']">
        <a class="nav-link nav-link-menu" ><i class="material-icons align-middle">home</i>  Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLink]="['/clients']">
        <a class="nav-link nav-link-menu"><i class="material-icons align-middle">account_box</i> Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLink]="['/portfolios']">
          <a class="nav-link nav-link-menu" ><i class="material-icons align-middle">folder_shared</i> Carteras</a>
        </li>      
      <li class="nav-item" >
        <a class="nav-link nav-link-menu"><i class="material-icons align-middle">bar_chart</i> Reportes</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLink]="['/config']">
          <a class="nav-link nav-link-menu"><i class="material-icons align-middle">settings</i> Config</a>
        </li>      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-menu" href="#"><i class="material-icons align-middle">chat_bubble</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-menu" href="#"> <i class="material-icons align-middle">account_circle</i></a>
      </li>
    </ul>
  </div>
</nav>