<app-clients-menu></app-clients-menu>

<div class="pt-3 bg-light" [ngStyle]="{'height.px': viewportHeight, 'overflow-y': 'scroll'}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 mb-2">
        <div class="card mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p><b>Personal</b></p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input class="form-control" id="name" name="name" type="text" placeholder="Nombre">
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input class="form-control" id="name" name="name" type="text" placeholder="Dirección">
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input class="form-control" id="name" name="name" type="text" placeholder="Entre Calles">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input class="form-control" id="num_int" name="num_int" type="text" placeholder="Num int">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input class="form-control" id="num_ext" name="num_ext" type="text" placeholder="Num ext">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="neighborhood" name="neighborhood" type="email" placeholder="Colonia">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="city" name="city" type="text" placeholder="Ciudad">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="state" name="state" type="text" placeholder="Estado">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="country" name="country" type="text" placeholder="País">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="zip" name="zip" type="text" placeholder="Código postal">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="birth" name="birth" type="date" placeholder="Fecha nac">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="telephone" name="telephone" type="number" placeholder="Teléfono">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="cellphone" name="cellphone" type="number" placeholder="Móvil">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="email" name="email" type="email" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control">
                    <option>Tipo de cliente</option>
                    <option>Parturient</option>
                    <option>Euismod</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" id="contact_procedure" name="contact_procedure" placeholder="procedimiento de contacto"></textarea>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card  mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">

                <p><b>Fiscal</b></p>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" id="rfc" name="rfc" type="text" placeholder="RFC">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" id="curp" name="curp" type="text" placeholder="Curp">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="checkbox" class="mr-2" name="moral_person" id="moral_person">
                  <label for="">Personal moral</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="card mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Créditos</b></p>
                </div>
                <div class="col-md-6">
                  <button (click)="addCredit()" *ngIf="!show_credit_form" class="btn btn-success btn-sm float-right"><i class="material-icons">add</i></button>
                  <button (click)="addCredit()" *ngIf="show_credit_form" class="btn btn-danger btn-sm float-right"><i class="material-icons">close</i></button>
                  <button (click)="saveCredit()" *ngIf="show_credit_form" class="btn btn-primary btn-sm float-right text-white mr-2"><i
                      class="material-icons">check</i></button>
                </div>


                <div class="col-md-6" *ngIf="show_credit_form">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="credit.bank">
                      <option>Banco</option>
                      <option>Parturient</option>
                      <option>Euismod</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="show_credit_form">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="credit.type">
                      <option *ngFor="let ct of credit_types" [ngValue]="ct" [text]="ct.name">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="show_credit_form">
                  <div class="form-group">
                    <input class="form-control" id="credit_amount" name="credit_amount" type="number" placeholder="Monto" [(ngModel)]="credit.amount">
                  </div>
                </div>
                <div class="col-md-6" *ngIf="show_credit_form">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="credit.portfolio">
                      <option *ngFor="let p of portfolios" [ngValue]="p" [text]="p.name"></option>
                    </select>
                  </div>
                </div>

                <div class="col-md-12" *ngIf="!show_credit_form">
                  <ngx-datatable  class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="flex" [rows]="credits">
                    <ngx-datatable-column name="Tipo" prop="type.name" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="Cantidad" prop="amount" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="Saldo" prop="bank" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="Cartera" prop="portfolio.name" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="" prop="id">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" frozenRigth="True" let-value="value" let-row="row" let-group="group"
                        let-rowHeight="rowHeight">
                        <a class="btn btn-sm btn-primary text-white" (click)="removeCredit($event, value, row)"><i class="material-icons">close</i></a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Contactos</b></p>
                </div>
                <div class="col-md-6">
                  <button (click)="addContact()" *ngIf="!show_contact_form" class="btn btn-success btn-sm float-right"><i
                      class="material-icons">add</i></button>
                  <button (click)="addContact()" *ngIf="show_contact_form" class="btn btn-danger btn-sm float-right"><i class="material-icons">close</i></button>
                  <button (click)="saveContact()" *ngIf="show_contact_form" class="btn btn-primary btn-sm float-right text-white mr-2"><i
                      class="material-icons">check</i></button>
                </div>

                <div class="col-md-6" *ngIf="show_contact_form">
                  <div class="form-group">
                    <div class="form-group">
                      <input class="form-control" id="contact_name" name="contact_name" type="text" placeholder="Nombre" [(ngModel)]="contact.name">
                    </div>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="show_contact_form">
                  <div class="form-group">
                    <div class="form-group">
                      <input class="form-control" id="contact_lastnames" name="contact_lastnames" type="text" placeholder="Apellidos" [(ngModel)]="contact.lastnames">
                    </div>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="show_contact_form">
                  <div class="form-group">
                    <input class="form-control" id="contact_address" name="contact_address" type="text" placeholder="Dirección" [(ngModel)]="contact.address">
                  </div>
                </div>
                <div class="col-md-6" *ngIf="show_contact_form">
                  <div class="form-group">
                    <input class="form-control" id="contact_telephone" name="contact_telephone" type="number" placeholder="Teléfono" [(ngModel)]="contact.telephone">
                  </div>
                </div>
                <div class="col-md-6" *ngIf="show_contact_form">
                  <div class="form-group">
                    <input class="form-control" id="contact_cellphone" name="contact_cellphone" type="number" placeholder="Celular" [(ngModel)]="contact.cellphone">
                  </div>
                </div>

                <div class="col-md-6" *ngIf="show_contact_form">
                  <div class="form-group">
                    <input class="form-control" id="contact_email" name="contact_email" type="email" placeholder="Email" [(ngModel)]="contact.email">
                  </div>
                </div>
                <div class="col-md-6" *ngIf="show_contact_form">
                  <select class="form-control" [(ngModel)]="contact.relationship">
                    <option *ngFor="let r of relationships" [ngValue]="r" [text]="r.name"></option>
                  </select>
                </div>

                <div class="col-md-12" *ngIf="!show_contact_form">
                  <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="flex" [rows]="contacts">
                    <ngx-datatable-column name="Name" prop="name" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="Apellidos" prop="lastnames" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="Teléfono" prop="telephone" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="Celular" prop="cellphone" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="Email" prop="email" editable="false" resizable="True"></ngx-datatable-column>
                    <ngx-datatable-column name="" prop="id">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" frozenRigth="True" let-value="value" let-row="row" let-group="group"
                        let-rowHeight="rowHeight">
                        <a class="btn btn-sm btn-primary text-white" (click)="removeCredit($event, value, row)"><i class="material-icons">close</i></a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>