<app-tasks-menu></app-tasks-menu>

<div class="pt-3 bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pt-2 pb-2">
        <div class="row ">
          <div class="col-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Escriba para buscar..">
            </div>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary  float-right"><i class="material-icons">add</i></button>
            <div class="btn-group float-right pr-2" role="group" aria-label="Basic example">

            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pr-xs-0 pr-sm-0">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header"></div>
                <div class="row">
                  <div class="col-md-12">
                    <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="'force'" [rows]="tasks">

                      <ngx-datatable-column name="Id" prop="id" editable="false" frozenLeft="True"></ngx-datatable-column>
                      <ngx-datatable-column name="Nombre" prop="name" editable="false" resizable="True"></ngx-datatable-column>
                      <ngx-datatable-column name="Código" prop="code" editable="false" resizable="True"></ngx-datatable-column>
                      <ngx-datatable-column name="Saldo" prop="balance" editable="false" resizable="True"></ngx-datatable-column>
                      <ngx-datatable-column name="" prop="id">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" frozenRigth="True" let-value="value" let-row="row" let-group="group"
                          let-rowHeight="rowHeight">
                          <a class="btn btn-sm btn-primary text-white mr-2" (click)="editTask($event, value)"><i class="material-icons">edit</i></a>

                          <a class="btn btn-sm btn-primary text-white mr-2" (click)="assignTask($event, value)"><i class="material-icons">keyboard_arrow_right</i></a>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <label for="">Mostrando 15 de 50 resulados</label>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="2">Larry the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>