<app-portfolios-menu></app-portfolios-menu>
<div class="pt-3 bg-light">
  <div class="container-fluid">

    <div class="row">
      <div class="col-8 pt-2 pb-2">
        <div class="row">
          <div class="col-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar cartera" aria-label="Buscar cartera" aria-describedby="basic-addon2">
            </div>
          </div>
          <div class="col-6">
            <a class="btn btn-primary float-right" routerLinkActive="active" [routerLink]="['/portfolios/add']"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header"></div>
            <div class="row">
              <div class="col-md-12">
                <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="'standard'" [scrollbarH]="true" [rows]="portfolios" [columns]="portfolio_columns">

                  <ngx-datatable-column name="Id" prop="id" editable="false" frozenLeft="True" width="100"></ngx-datatable-column>
                  <ngx-datatable-column name="Nombre" prop="name" editable="false" resizable="True" width="300"></ngx-datatable-column>
                  <ngx-datatable-column name="Código" prop="code" editable="false" resizable="True"  width="200"></ngx-datatable-column>
                  <ngx-datatable-column name="Saldo" prop="balance" editable="false" resizable="True"  width="100"></ngx-datatable-column>
                  <ngx-datatable-column name="" prop="id">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" frozenRight="true" let-value="value" let-row="row" let-group="group"
                      let-rowHeight="rowHeight">
                      <a class="btn btn-sm btn-primary text-white mr-2" (click)="editPortfolio($event, value)"><i class="material-icons">edit</i></a>

                      <a class="btn btn-sm btn-primary text-white mr-2" (click)="viewPortfolio($event, value)"><i class="material-icons">keyboard_arrow_right</i></a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>