<app-config-menu></app-config-menu>

<div class="pt-3 bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <div class="card">

            <form [formGroup]="editRoleForm"(ngSubmit)="saveUser()" ></form>
            <div class="card-body">
              <div class="row m-0 p-0">
                <div class="col-12">
                  <p><b>Editar Rol</b></p>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Código" formControlName="code">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="description" formControlName="description"></textarea>
                  </div>
                </div>

                <div class="col-12">
                    <p>Permisos</p>
                  </div>
                  <div class="row">
                    <div *ngFor="let permission of permissions" class="col-md-3">
                      <label>
                          <input type="checkbox" formControlName="permission">
                      </label>
                      
                    </div>
                  </div>
              </div>
  
              <div class="col-12">
                <a class="btn btn-danger float-right" [routerLink]="['/config/roles']"><i class="material-icons">close</i></a>
                <button  class="btn btn-primary float-right text-white mr-2"><i class="material-icons">check</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>