<app-portfolios-menu></app-portfolios-menu>

<div class="pt-3 bg-light">


  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-0 p-0">
              <div class="col-12">
                <p><b>Agregar cartera</b></p>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="portfolio.name">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Código" [(ngModel)]="portfolio.code">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Saldo" [(ngModel)]="portfolio.balance">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <select class="form-control"[(ngModel)]="portfolio.category">
                    <option *ngFor="let pc of portfolio_categories" [ngValue]="pc.id" [text]="pc.name"></option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea type="text" class="form-control" placeholder="Descripción" [(ngModel)]="portfolio.description"></textarea>
                </div>
              </div>
              <div class="col-12">
                <a class="btn btn-danger float-right" routerLinkActive="active" [routerLink]="['/portfolios']"><i class="material-icons">close</i></a>
                <button (click)="addPortfolio()" class="btn btn-primary float-right text-white mr-2"><i class="material-icons">check</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>