<app-config-menu></app-config-menu>

<div class="pt-3 bg-light" [ngStyle]="{'height.px': viewportHeight, 'overflow-y': 'scroll'}">
  <div class="container-fluid">

    <div class="row">
      
      <div class="col-6">
        <input class="" type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
      </div>
      <div class="col-6">
        <a class="btn btn-primary float-right" routerLinkActive="active" [routerLink]="['/config/users/add']"><i class="material-icons">add</i></a>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="col-12" *ngIf="parsed == true">
      <div class="card">
          <div class="row">
            <div class="col-md-12">

              <ngx-datatable class="material" [limit]="50" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [columnMode]="'force'" [rows]="result"
                [columns]="columns" [loadingIndicator]="false">
              </ngx-datatable>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>