<ul class="nav nav-tabs">
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/tasks']"> <i class="material-icons">event_note</i> Tareas </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/tasks/team']"> <i class="material-icons">account_box</i> Todo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients/blacklist']"> <i class="material-icons">list</i> Asignar</a>
    </li> -->
  </ul>