/* You can add global styles to this file, and also import other style files */

html {
    font-family: "Rubik", sans-serif;
    background-color: white;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: rgba(0,0,0,.03);
    overflow: hidden;
    font-size: .85rem;
}

.wrapper {
    padding-top: 60px;
}

.navbar {
    padding:0px !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-family:'Prosto One', cursive; 
    color:white; 
    margin:0; 
    padding-right:40px; 
}

.nav-link-menu {
    line-height: 45px;
    cursor:pointer;
}

.nav-item.active {
    color: #005cbf;
    background: white;
    /* background: rgb(233, 236, 239); */
    border:0px;
}

.nav-item.active > .nav-link.nav-link-menu {
    color: #005cbf;
    background-color: #f2f7f8;
    border:0px;
}

.form-control {
  border-radius: 0;
  font-size: .85rem;
}

.btn {
  border-radius: 0;
}

.card {
  border-radius: 0;
}

.material-icons, .icon-text {
    vertical-align: middle;
}

li:hover, li:active, li:focus{
    outline: 0 !important;
}

input::-moz-focus-inner { 
    border: 0; 
}

.select-wrapper {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding:0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0 !important;
}

.select-wrapper select {
    width: 100%;
    vertical-align: bottom;
    padding: 10px;
    margin-right: 28px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    text-overflow: ellipsis;
    outline: 0 !important;
}

.select-wrapper:after {
    content: "";
    position: relative;
    float: right;

    right: 15px;
    top: -25px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(73, 80, 87);
}

.nav-tabs .nav-link {
    border-radius: 0px;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top:0px;
    padding:15px;
    background-color:white;
}

.list-group-item:first-child {
    border-radius: 0;
}
.list-group-item:last-child {
    border-radius:0;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 10px 0;
    padding-left: 0px;
}
ul.timeline > li:before {
    content: ' ';
    background:#d4d9df;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d4d9df;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.table.table-hover  th{
    border-top:0;
}

.icon-sm {
    font-size: 14px;
}

.nav-tabs > .nav-item > a {
    color: #495057;
}

.nav-tabs .nav-link.active {
    color: #007bff;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
}

.bg-light {
    background-color:white !important;
}

.ngx-datatable.material {
  box-shadow: none;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: .5rem 1.2rem;
}

.input-group-text{
    border-radius: 0;
}