<app-clients-menu></app-clients-menu>

<div class="pt-3 bg-light">

<div class="container-fluid">

  <div class="row">

    <div class="col-12 pl-4">
      <h4>Nombre del cliente</h4>
    </div>

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-8">

      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="material-icons">calendar_today</i> Actividad
          </ng-template>
          <ng-template ngbTabContent>
            <ul class="timeline">
              <li>
                <a target="_blank" href="https://www.totoprayogo.com/#" class="mb-1"><b>New Web Design</b></a>
                <span class="badge badge-pill badge-primary float-right mb-1"> <i class="material-icons icon-sm">access_time</i>
                  21 March, 2014</span>
              </li>
              <li>
                <a href="#">21 000 Job Seekers</a>
                <span class="badge badge-pill badge-primary float-right mb-1"> <i class="material-icons icon-sm">access_time</i>
                  21 March, 2014</span>
              </li>
              <li>
                <a href="#">Awesome Employers</a>
                <span class="badge badge-pill badge-primary float-right mb-1"> <i class="material-icons icon-sm">access_time</i>
                  21 March, 2014</span>
                <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis
                  pharetra velit. Sed nec tempor nibh...</p>
              </li>
            </ul>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="material-icons">credit_card</i> Creditos
          </ng-template>
          <ng-template ngbTabContent>
            <div class="col-12">
              <div class="btn-group mt-2 mb-2 float-left" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-sm btn-primary active">Activos</a>
                <button type="button" class="btn btn-sm  btn-primary">Todos</button>
              </div>

                <button class="btn btn-sm btn-primary float-right mt-2"><i class="material-icons">add</i></button>
            </div>
            <div class="col-12">
              <table class="table table-hover mt-2">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Clientes</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Servicios y refacciones</td>
                    <td>350</td>
                    <td>$1,521,265.89</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>contratos de servicio</td>
                    <td>350</td>
                    <td>$5,846,265.12</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>venta banco</td>
                    <td>350</td>
                    <td>$3,657,272.59</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="material-icons">timer</i> Pagos
          </ng-template>
          <ng-template ngbTabContent>
            <div class="col-12">
              <div class="btn-group mt-2 mb-2 float-left" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-sm btn-primary active">Pendientes</a>
                <button type="button" class="btn btn-sm  btn-primary">Realizados</button>
              </div>
            </div>
            <div class="col-12">
              <table class="table table-hover mt-2">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Clientes</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Servicios y refacciones</td>
                    <td>350</td>
                    <td>$1,521,265.89</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>contratos de servicio</td>
                    <td>350</td>
                    <td>$5,846,265.12</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>venta banco</td>
                    <td>350</td>
                    <td>$3,657,272.59</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="material-icons">perm_contact_calendar</i> Contactos
          </ng-template>
          <ng-template ngbTabContent>
            <div class="col-12">
              <div class="btn-group mt-2 mb-2 float-right" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-sm btn-primary active"><i class="material-icons">add</i></a>
              </div>
            </div>
            <div class="col-12">
              <table class="table table-hover mt-2">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Servicios y refacciones</td>
                    <td>350</td>
                    <td>$1,521,265.89</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="contact options">
                        <button class="btn btn-sm btn-primary"><i class="material-icons">edit</i></button>
                        <button class="btn btn-sm btn-primary"><i class="material-icons">close</i></button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>contratos de servicio</td>
                    <td>350</td>
                    <td>$5,846,265.12</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="contact options">
                        <button class="btn btn-sm btn-primary"><i class="material-icons">edit</i></button>
                        <button class="btn btn-sm btn-primary"><i class="material-icons">close</i></button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>venta banco</td>
                    <td>350</td>
                    <td>$3,657,272.59</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="contact options">
                        <button class="btn btn-sm btn-primary"><i class="material-icons">edit</i></button>
                        <button class="btn btn-sm btn-primary"><i class="material-icons">close</i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="material-icons">comment</i> Comentarios
          </ng-template>
          <ng-template ngbTabContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">

                <div class="row">

                  <div class="col-2 mb-2">
                    <span class="badge badge-pill badge-primary float-right mb-1"> <i class="material-icons icon-sm">access_time</i>
                      21 March, 2014</span>

                  </div>
                  <div class="col-12">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                      qui.</p>
                  </div>
                </div>


              </li>
              <li class="list-group-item">
                <div class="row">

                  <div class="col-2 mb-2">
                    21 March, 2014
                  </div>
                  <div class="col-12">
                    <p> Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry
                      richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
                      butcher voluptate nisi qui.</p>
                  </div>
                </div>

              </li>
              <li class="list-group-item">
                <div class="row">

                  <div class="col-2 mb-2">
                    21 March, 2014
                  </div>
                  <div class="col-12">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                      qui.</p>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">

                  <div class="col-2 mb-2">
                    21 March, 2014
                  </div>
                  <div class="col-12">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">

                  <div class="col-2 mb-2">
                    21 March, 2014
                  </div>
                  <div class="col-12">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

      <!-- <ngb-tabset type="pills" [orientation]="currentOrientation">
              <ngb-tab title="Simple">
                <ng-template ngbTabContent>
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                    synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                    retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                  squid.
                  <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean
                    shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                    Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum
                    wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art
                    party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Disabled" [disabled]="true">
                <ng-template ngbTabContent>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                    facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                    eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                    ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor
                    arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt
                    odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet
                    odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset> -->

      <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentOrientation">
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="horizontal">Horizontal
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="vertical">Vertical
              </label>
            </div> -->

    </div>


  </div>

</div>
</div>